<a class="close-reveal-modal">&#215;</a>
<div class="modal-holder">
  <h1>Happy Birthday! You're now <%= @age %>!</h1>
  <% if @users %>
    <% @users.each do |user| %>
      <div class="row">

        <div class="columns small-2">
          <img src="<%= user.image + '?type=normal' %>" />
        </div>

        <div class="columns small-10">
          <dl>
            <dt><%= user.name %></dt>
            <dd><%= user.birthday_wish %></dd>  
          </dl>
        </div>
        
      </div>
    <% end %>
  <% end %>
</div>