<a class="close-reveal-modal">&#215;</a>
<div class="modal-holder">
<% if @users %>
  <% @users.each do |user| %>
    <dl>
      <dt><%= user.name %></dt>
      <dd><%= user.birthday_wish %></dd>
    </dl>
  <% end %>
<% end %>
</div>