// Place all the styles related to the Cake controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'PermanentMarker';
  src:font-url('PermanentMarker-webfont.eot');
  src:font-url('PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('PermanentMarker-webfont.svg') format('svg'),
    font-url('PermanentMarker-webfont.woff') format('woff'),
    font-url('PermanentMarker-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }

body {
  background: rgb(137,137,137);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(137,137,137,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#000000',GradientType=1 );
}

#confetti {
  position: absolute;
  z-index: -2;
}

#table {
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 373px;
  z-index: -1;
  background: image-url('table2.jpg') repeat-x bottom !important;
  background-size: cover;
  box-shadow: inset 0 49px 50px -22px rgba(5, 5, 5, 0.3);
  -moz-box-shadow: inset 0 49px 50px -22px rgba(5, 5, 5, 0.3);
  -webkit-box-shadow: inset 0 49px 50px -22px rgba(5, 5, 5, 0.3);
}

.cake-holder {
  position: relative;
  top: 100px;
  width: 100%;
  position: relative;
}

.svg-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.candle-holder {
  position: relative;
}

.candle-holder div {
  position: absolute;
  width: 23px;
  height: 142px;
}

.candle-holder-0, .candle-holder-1, .candle-holder-2, .candle-holder-3, .candle-holder-4 {
  position: absolute;
}

.candle-holder-0, .candle-holder-1 {
  width: 14%;
  height: 14%;
  top: 19%;
}

.candle-holder-0 {
  left: 7%;
  z-index: 5;
}

.candle-holder-1 {
  right: 14%;
  z-index: 4;
}

.candle-holder-2 {
  height: 5%;
  width: 63%;
  top: 13%;
  left: 14%;
  z-index: 3;
}

.candle-holder-3 {
  width: 49%;
  height: 4%;
  top: 9%;
  left: 22%;
  z-index: 2;
}

.candle-holder-4 {
  width: 208px;
  height: 22px;
  top: 43px;
  left: 260px;
  z-index: 1;
}

.candle-holder div.flame {
  width: 23px;
  height: 35px;
  display: block;
  top: -24px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.reveal-modal {
  overflow-y: auto;
}
