// Place all the styles related to the Cake controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'PermanentMarker';
  src:font-url('PermanentMarker-webfont.eot');
  src:font-url('PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('PermanentMarker-webfont.svg') format('svg'),
    font-url('PermanentMarker-webfont.woff') format('woff'),
    font-url('PermanentMarker-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }

body {
  background: rgb(137,137,137);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(137,137,137,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(137,137,137,1) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#000000',GradientType=1 );
}

#confetti {
  position: absolute;
  z-index: -2;
}

#table {
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.8) 0%, rgba(60,63,67,0.8) 13%, rgba(48,51,54,0.6) 30%, rgba(32,34,36,0.4) 53%, rgba(3,3,3,0) 96%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,0.8)), color-stop(13%,rgba(60,63,67,0.8)), color-stop(30%,rgba(48,51,54,0.6)), color-stop(53%,rgba(32,34,36,0.4)), color-stop(96%,rgba(3,3,3,0)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.8) 0%,rgba(60,63,67,0.8) 13%,rgba(48,51,54,0.6) 30%,rgba(32,34,36,0.4) 53%,rgba(3,3,3,0) 96%,rgba(0,0,0,0) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.8) 0%,rgba(60,63,67,0.8) 13%,rgba(48,51,54,0.6) 30%,rgba(32,34,36,0.4) 53%,rgba(3,3,3,0) 96%,rgba(0,0,0,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,0.8) 0%,rgba(60,63,67,0.8) 13%,rgba(48,51,54,0.6) 30%,rgba(32,34,36,0.4) 53%,rgba(3,3,3,0) 96%,rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at center,  rgba(69,72,77,0.8) 0%,rgba(60,63,67,0.8) 13%,rgba(48,51,54,0.6) 30%,rgba(32,34,36,0.4) 53%,rgba(3,3,3,0) 96%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc45484d', endColorstr='#00000000',GradientType=1 );
}

.cake-holder {
  position: absolute;
  top: 17%;
  width: 100%;
}

.svg-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.candle-holder {
  position: relative;
}

.candle-holder div {
  position: absolute;
  min-width: 1.45em;
  height: 8.9em;
}

.candle-holder-0, .candle-holder-1, .candle-holder-2, .candle-holder-3{
  position: absolute;
}

.candle-holder-0, .candle-holder-1 {
  width: 14%;
  height: 14%;
  top: 19%;
}

.candle-holder-0 {
  left: 7%;
  z-index: 5;
}

.candle-holder-1 {
  right: 14%;
  z-index: 4;
}

.candle-holder-2 {
  height: 5%;
  width: 63%;
  top: 13%;
  left: 14%;
  z-index: 3;
}

.candle-holder-3 {
  width: 49%;
  height: 4%;
  top: 9%;
  left: 22%;
  z-index: 2;
}

.candle-holder div.flame {
  height: 2.82em;
  top: -1.5em;
  z-index: 999;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.reveal-modal {
  overflow-y: auto;
  background: #FFFFF2;
  border-style: solid;
  border-width: 15px;
  -moz-border-image: url(border.png) 25 round;
  -webkit-border-image: url(border.png) 25 round;
  -o-border-image: url(border.png) 25 round;
  border-image: url(border.png) 25 round;
}
.close-reveal-modal {
  color: orange !important;
}

#happy-birthday-h1 {
  font-family: 'PermanentMarker', 'Permanent Marker', sans-serif;
  color: purple;
  text-shadow: 1px 2px 3px pink;
  text-align: center;
}
